body {
  background-color: #010b13;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 5px #c8c8c8;
  height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}
body {
  position: static;
  overflow-y: auto;
  overflow: hidden;
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  font-weight: 400;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
